[Desktop Entry]
Name=Neko Kernel Manager
Comment=User-friendly kernel manager for Neko Void
Exec=neko-kernel-manager
Icon=neko-kernel-manager
Terminal=false
Type=Application
Categories=System;Settings;
Keywords=kernel;manager;void;
